@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');


body{
	background-color: #F5F5F5;
	font-family: 'Nunito', sans-serif;
}

.carousel-item{
	height: 100vh;
	background: no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size: cover;
}

#cont img, iframe {
    max-width: 100%;
    height: auto !important;
}

.carousel-caption{
	bottom: 220px;
}

.carousel-caption h5{
	font-size:45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}

.carousel-caption p{
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;

}

p span{
    display: block;
}

.carousel-caption a{
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;

}

.navbar-nav a{
	font-size: 18px;
	
	font-weight: bold;
	letter-spacing: 2px;
}

#bannerdescripcion{
	color: #FFF;
	text-align: justify;
	font-size: small;

}


.navbar-light .navbar-nav .active > .nav-link, .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #333;
	
}

.navbar-light .navbar-nav .nav-link{
	color:#b3b3b3;
}

.navbar-nav{
	text-align: center;
}

.nav-link{
	padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #333;
	background-color: #FFF;
}


.w-100{
	height: 100vh;
}

.carousel-caption{
 background:rgba(0,0,0,0.5);
 }

 #contactobanner{
 	padding-left: 25vh;
 }







.breadcrumb{
	background-color: #F5F5F5;
	margin-bottom: 0rem;
}

 .jumbotron{
 border-radius: 10px; 	
 }
 .ciudades{
 	border-radius: 10px;
 }

 #individualmain{
 	border-radius: 10px;
 }

 #tipoaccion{
 	color: #8f8f8f;
 }

 #medidas i, h6{
 	color: #707070;
 }

 .transparencia{
 	background:rgba(0,0,0,0.5);
 	border-radius: 10px;
 	color: #FFF;
 }

a:link, a:visited, a:active{
text-decoration:none;
}

.item img{
    height:200px;
    width:100%;
}

.titulo{
	color: #4a4a4a;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}

.titulolist{
	color: #4a4a4a;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
}

.badge,.badge-primary, .badge-pill{
background-color: blue;
font-size: 8px;
}

.item{
	background-color: #FFF;
	text-align: left;
}

.item h4, small{
	color:#3B3B3B;


}

.item i{
	color:#8C8C8C;
	padding-right: 10%;
	padding-left: 1%;

}

#direccion{
	color: #8C8C8C;
}

.card-title{
	color: #8C8C8C;
	background-color:#FFF; 
	/*writing-mode: vertical-rl;
	text-orientation: upright;*/
	font-size: 16px;
}

.card{
	background-color: #FFF;
	text-align: center;
}


/*Login button */
.slide-out-button {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 1;
  max-width: 50px;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 4px 0 0 4px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-out-button i {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 50px;
  color: #FFF;
  padding: 9px 0px 0px 15px;
  font-size: 30px;
  border-radius: 5px 0 0 5
}

.slide-out-button i,
.slide-out-button.slide-in i {
  background: #202341;
}

.slide-out-button i,
.slide-out-button .slide-out-title {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slide-out-button .slide-out-title {
  display: block;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0);
  line-height: 50px;
  padding: 0 30px 0 65px;
  white-space: nowrap;
  background: #202341;
}

.slide-out-button:hover,
.slide-out-button.slide-in {
  max-width: 300px;
}

.slide-out-button:hover .slide-out-title,
.slide-out-button.slide-in .slide-out-title {
  color: #F5F5F5;
}


/* */



@media only screen and (max-width: 700px) , only screen and (max-device-width: 700px) {


.carousel-item{
	height: 100vh;
	background: no-repeat center center scroll;
	-webkit-background-size:cover;
	background-size: cover;
}

.carousel-caption{
padding-top: 30vh;
}


.card-title{
	color: #8C8C8C;
	background-color:#FFF; 
	writing-mode: horizontal-tb;
	font-size: 14px;
}


}